body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.project-info {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.project-container {
  border-style: solid;
  background-color: black;

}

.project {
  padding: 10px;
  max-width: 400px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
}

img {
  height: 80%;
  width: 80%;
}
